@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
}

/* main_image */
.banner{
	overflow: hidden;
    position: relative;
    margin-bottom: 1.5%;
}

.main_image {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.main_image ul {
    width: 9999px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.main_image li {
    float: left;
    width: 100%;
}

.main_image li span {
    display: block;
    width: 100%;
}

.main_image li a {
    display: block;
    width: 100%;
}

.main_image li img {
    width: 100%
}

div.flicking_con {
    position: absolute;
	bottom: 1%;
    left: 1%;
    z-index: 999;
    height: 18px;
}

div.flicking_con a {
    float: left;
    width: 15px;
    height: 9px;
    margin: 0;
    padding: 0;
    background: url('../img/btn_main_img.png') 0 0 no-repeat;
    display: block;
    text-indent: -1000px
}

div.flicking_con a.on {
    background-position: 0 -9px
}



/*news_img*/

.hot_news{
	padding: 3.2%;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    margin-bottom: 1.5%;

}

.hot_news .news_img{
	width: 18%;
    margin-right: 3%;
}

.hot_news .news_img img{
	height: 100%;
	width: 100%;
    border: 2px solid #e1e1e1;
	border-radius: 5px;
}

.hot_news .news_title{
    width: 79%;
}


.hot_news .hotclick{
    color: #e86a5e;
    font-size:12px
}

.hot_news .news_title span{
    font-size:12px;
    color: #b4b3b9
}


/*list_item_top*/

.forum_list{
    background: #ffffff;
    border: 1px solid #e8e8e8;
    padding-bottom: 70px;

}


.list_main_li .list_main{
    padding: 3.2%;
}

.forum_list ul li.list_main_li{
    border-bottom: 1px solid #F4F4F4;

}


.list_main_li .avatar {
    width: 10%;
}

.list_main_li .avatar img{
    height: 100%;
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.list_main_li .img_list li{
    width: 25%;
    margin-right: 1.2%
}
.list_main_li .img_list li img{
    width: 100%;
}

.list_main_li .username,.list_main_li .position,.list_main_li .link,.list_main_li .title,.list_main_li .img_list,.list_main_li .click_like,.list_main_li .comment{
    width: 87%;
}

.list_main_li .click_like span{
    font-size: 12px;
    margin-right: 12px;
}


.list_main_li .r {
    clear: both;
    border-bottom: 3px solid #eeeeee;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    width: 1px;
    margin-top: 5px;
    margin-left: 10px;
}

.list_main_li .cmt-wrap {
    clear: both;
    width: 100%;
    background-color: #eeeeee;
    font-size: 12px;
    color: #454545
}

.list_main_li .cmt-wrap a{
    color: #82858d;
}

.list_main_li .like_list {
    padding: 5px 5px 3px 8px;
    border-bottom: 1px solid #FFFFFF;
}

.list_main_li .cmt-list {
    padding: 5px 0px 3px 8px;
}

.list_main_li .username .level{
    font-size: 12px;
    color: #ffa000
}
.list_main_li .username .level2{
    font-size: 12px;
    color: #b4b3b9
}

.list_main_li .username .time{
    font-size:12px;
    color: #b4b3b9
}

.list_main_li .position,.link{
    padding:2px 0;
    font-size:12px;
    color: #b4b3b9
}

.list_main_li .title{
    padding-bottom:5px;
}



.list_main_li .icon-like{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url('../img/icon_17.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}

.icon-likes{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url('../img/icon_17.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}

.list_main_li .icon-liked{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url('../img/icon_19.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}

.list_main_li .liked{
    color: #FFA50E
}

.list_main_li .icon-written{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url('../img/icon_30.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    vertical-align: middle;
}
.list_main_li .icon-writtend{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url('../img/icon_28.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    vertical-align: middle;
}

.list_main_li .writtend{
    color: #FFA50E
}

.list_main_li .icon-share{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('../img/icon_26.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}

.list_main_li .message{
    margin-right: 0px!important
}

.list_main_li .icon-message{
    display: inline-block;
    width: 20px;
    height: 14px;
    background: url('../img/icon_39.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}
.list_main_li .icon-messaged{
    display: inline-block;
    width: 20px;
    height: 14px;
    background: url('../img/icon_38.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}

.list_main_li .icon-link{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url('../img/icon_47.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}



/*detail*/
.main_detail{
    background: #ffffff;
    padding-bottom: 70px
}
.main_detail .main_avatar{
    padding: 3.2%;
    border-bottom: 1px solid #F4F4F4;
}

.main_detail .main_avatar .avatar {
    width: 10%;
}

.main_detail .avatar img{
    height: 100%;
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.main_detail .title{
    padding:5px 0;
    font-size: 14px;
    color: #55565a
}


.main_detail .img_list{
    padding: 3.2%;
    border-bottom: 1px solid #e1e1e1;
}

.main_detail .img_list li{
    width: 31.5%;
    margin-right: 1.8%;
}

.main_detail .img_list li img{
    width: 100%;
}

.main_detail .username,.main_detail .position{
    width: 87%;
}

.main_detail .time{
    color: #b4b3b9;
    font-size: 12px;
    padding-top: 3.2%;
}

.main_detail .click_like{
    padding: 0 3.2%;
    border-bottom: 1px solid #e1e1e1;
}
.main_detail .click_like span{
    padding: 3.2% 0;
    font-size: 12px;
    margin-right: 12px;
}

.click_likes span.selected{
    color: #FFA50E;
    border-bottom: 2px solid #FFA50E;
}

.click_likes{
    padding: 0 3.2%;
    border-bottom: 1px solid #e1e1e1;
}
.click_likes span{
    padding: 3.2% 0;
    font-size: 12px;
    margin-right: 12px;
}

.main_detail .click_like span.selected{
    color: #FFA50E;
    border-bottom: 2px solid #FFA50E;
}


.main_detail .like_list {
    padding: 5px 5px 3px 8px;
    border-bottom: 1px solid #FFFFFF;
}

.main_detail .username .level{
    font-size: 12px;
    color: #ffa000
}

.main_detail .username .address{
    font-size:12px;
    color: #b4b3b9
}

.main_detail .position,.link{
    padding:2px 0;
    font-size:12px;
    color: #b4b3b9
}


.main_detail .icon-like{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url('../img/icon_17.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}


.main_detail .icon-liked{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url('../img/icon_19.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}

.main_detail .icon-written{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url('../img/icon_30.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    vertical-align: middle;
}
.main_detail .icon-writtend{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url('../img/icon_28.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    vertical-align: middle;
}


.main_detail .icon-share{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('../img/icon_26.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}

.main_detail .message{
    margin-right: 0px!important
}

.main_detail .icon-message{
    display: inline-block;
    width: 20px;
    height: 14px;
    background: url('../img/icon_39.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}
.main_detail .icon-messaged{
    display: inline-block;
    width: 20px;
    height: 14px;
    background: url('../img/icon_38.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}

.main_detail .icon-link{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url('../img/icon_47.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}

.main_detail .icon-address{
    display: inline-block;
    width: 9px;
    height: 14px;
    background: url('../img/icon_23.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}


/*new_detail*/

.news_detail{
    background: #ffffff;
    padding-bottom: 70px;

}
.news_detail{
    border-bottom: 1px solid #F4F4F4;
}

.news_detail .contents{
    padding: 4.2%;
    line-height: 24px;
    color: #717171
}
.news_detail .contents img{
    width: 100%;
}

.news_detail .news_title{
    padding: 4.2% 4.2% 2% 4.2%;
    font-size: 16px;
    font-weight: bold;
    word-spacing: 2px;
    letter-spacing: 2px;
}

.news_detail .time{
    padding: 0 4.2% 0 4.2%;

    color: #b4b3b9;
    font-size: 12px;
}
.news_detail .time span{
    margin-right: 20px
}


.news_detail .click_like{
    padding: 0 3.2%;
    border-bottom: 1px solid #e1e1e1;
}
.news_detail .click_like span{
    padding: 3.2% 0;
    font-size: 12px;
    margin-right: 12px;
}

.news_detail .click_like span.selected{
    color: #FFA50E;
    border-bottom: 2px solid #FFA50E;
}



.news_detail .icon-like{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url('../img/icon_17.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}
.news_detail .icon-liked{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url('../img/icon_19.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}

.news_detail .icon-written{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url('../img/icon_30.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    vertical-align: middle;
}
.news_detail .icon-writtend{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url('../img/icon_28.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    vertical-align: middle;
}


.news_detail .icon-share{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('../img/icon_26.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}

.news_detail .message{
    margin-right: 0px!important
}

.news_detail .icon-message{
    display: inline-block;
    width: 20px;
    height: 14px;
    background: url('../img/icon_39.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}
.news_detail .icon-messaged{
    display: inline-block;
    width: 20px;
    height: 14px;
    background: url('../img/icon_38.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}

.news_detail .main_avatar{
    padding: 3.2%;
    border-bottom: 1px solid #F4F4F4;
}

.news_detail .main_avatar .avatar {
    width: 10%;
}


.news_detail .username, .news_detail .position, .news_detail .title{
    width: 87%;
}

.news_detail .username .level{
    font-size: 12px;
    color: #ffa000
}

.news_detail .username .address{
    font-size:12px;
    color: #b4b3b9
}

.news_detail .position,.link{
    padding:2px 0;
    font-size:12px;
    color: #b4b3b9
}

.news_detail .main_avatar .avatar {
    width: 10%;
}

.news_detail .avatar img{
    height: 100%;
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.news_detail .icon-address{
    display: inline-block;
    width: 9px;
    height: 14px;
    background: url('../img/icon_23.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}

.news_detail .title{
    color: #717171;
    font-size: 14px

}


.news_list{
    margin-bottom: 70px;

}

.news_list .hot_news{
    padding: 3.2%;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    margin-bottom: 0;

}

.news_list .hot_news .news_img{
    width: 18%;
    margin-right: 3%;
}

.news_list .hot_news .news_img img{
    height: 100%;
    width: 100%;
    border: 2px solid #e1e1e1;
    border-radius: 5px;
}

.news_list .hot_news .news_title{
    width: 79%;
}


.news_list .hot_news .hotclick{
    color: #e86a5e;
    font-size:12px
}

.news_list .hot_news .news_title span{
    font-size:12px;
    color: #b4b3b9
}

.news_list .time{
    padding: 1% 3.2% 1% 3.2%;
    color: #b2b3b7;
    font-size: 12px;
}

/*fuwu*/
.fuwu_title{
        padding: 2% 0;
}
.fuwu_title_wenzi{
    width: 96%;
    text-align: center;
    display: inline-block;
    font-size: 18px
}
.fuwu_title_wenzi .server{
    color: #ffa000
}

.help{
    width: 4%
}

.icon-help{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('../img/icon_09.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}

.main_detail .main_avatar .title{
    width: 87%;
}

.shuomingbox{
    position: fixed;
    top: 25px;
    background: #fff;
    border-radius: 15px;
    width: 80%;
    z-index: 999;
    padding: 3%;
    left: 0;
    right: 0;
    margin:auto; 
}

.shuomingbox img{
    width: 100%;
}


.downloadbox{
    position: fixed;
    background: #fff;
    border-radius: 15px;
    width: 90%;
    z-index: 999;
    left: 0;
    right: 0;
    margin:auto; 
}

.downloadbox img{
    width: 100%;
}

.download_box_shuoming{
    padding: 10% 3% 3% 3%;
    width: 65%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

.download_box_shuoming_wz{
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #F4F4F4;
    padding-bottom: 10%;
}

.download_tx{
    width: 35%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    padding-top: 10%;
    padding-bottom: 10%;
}

.downloadbox .icon-close {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../img/icon_05.png') 0 0 no-repeat;
    background-size: 100%;
    margin-right: 2px;
    margin-top: 2px;
    vertical-align: middle;
}


.icon-close{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../img/icon_05.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: -8px;
    margin-top: -8px;
    vertical-align: middle;
}

.userhome{
    background: #ffffff;
}
.userinfo{
    background: url('../img/prsonal_bg.jpg') 0 0 no-repeat;
    background-size: 100%;
        border-bottom: 1px solid #e1e1e1;
}

.userinfo .avatar {
    width: 18%;
    margin: 0 auto;
    padding-top: 12%;

}

.userinfo .avatar img{
    height: 100%;
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.userinfo .username{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    padding: 5px 0 5px 0;
}

.userinfo .position{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding:2px 0;
    font-size:12px;
    color: #b4b3b9
}
.userinfo .position span{
    margin-right: 10px
}
.userinfo .desc{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding:12px 0;
    font-size:10px;
    color: #b4b3b9
}

.userinfo .sex{
    margin-left: 5px;
}
.userinfo .sex.icon-w{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('../img/icon_45.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: -8px;
    margin-top: -8px;
    vertical-align: middle;
}
.userinfo .sex.m{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.userhome .icon-address{
    display: inline-block;
    width: 9px;
    height: 14px;
    background: url('../img/icon_23.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}

.userhome .icon-circle{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../img/icon_21.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}

.userhome .trade,.userhome .address {
    font-size:12px;
    color: #b4b3b9;
        padding-top: 8px;
    padding-left: 12px;
}

.userhome .address {
    padding-bottom: 8px
}

.usermessage{
    padding-top: 2%;
    padding-bottom: 70px
}

.usermessage .server{
    padding: 4%;
    background: #ffffff;
        margin-bottom: 2%;

}
.usermessage .server .serverinfo{
        width: 87%;
        margin: 0 auto;
        padding: 10px;
        background: #F3F3F3;
            margin-top: 10px;
}

.usermessage .server .serverinfo img{
        width:100%;
}

.usermessage .server .serverinfo .news_img{
        width: 15%
}
.usermessage .server .serverinfo .news_content {
    color: #6B6666;
        width: 82%
}

.usermessage .dynamic{
    padding: 4%;
    background: #ffffff;
}

.dynamicinfo .list_main_li .username,
.dynamicinfo .list_main_li .position,
.dynamicinfo .list_main_li .link,
.dynamicinfo .list_main_li .title,
.dynamicinfo .list_main_li .img_list,
.dynamicinfo .list_main_li .click_like,
.dynamicinfo .list_main_li .comment{
    width: 95%;
}

.dynamicinfo li.list_main_li{
    border-bottom: 1px solid #F3F3F3
}

.icon-server{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../img/icon_03.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}

.icon-dynamic{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../img/icon_43.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}
.icon-left{
    display: inline-block;
    width: 8px;
    height: 14px;
    background: url('../img/icon_41.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}
.mask{
    position: fixed;
    z-index: 998;
    -position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
}


.download{
    width: 100%;
    position: fixed;
    bottom: 0px;
}
.download img{
    width: 100%;
    vertical-align: bottom;
}


.usermessage .school{
    padding: 4%;
    background: #ffffff;
}


.w-bar {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 0 14px;
    line-height: 45px;
    color: #525252;
    margin-bottom: -1px;
    border-width: 1px 0;
    background: #fff;
}


.w-bar-ext {
    float: right;
    color: #a9a9a9;
}

.ico-back, .ico-prev, .ico-next, .ico-fold, .ico-unfold {
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 2px solid;
    background: none;
}

.ico-next {
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.school .icon-maozi{
    display: inline-block;
    width: 24px;
    height: 20px;
    background: url('../img/icon-maozi.png') 0 0 no-repeat;
    background-size:100%;
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
}
