<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tonghang.server.mapper.TCircleSeenMapper" >
  <resultMap id="BaseResultMap" type="com.tonghang.server.entity.TCircleSeen" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column=" circle_d" property="circleD" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="timestamp" property="timestamp" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_circle_seen
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tonghang.server.entity.TCircleSeen" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_circle_seen (id, " circle_d", pid, 
      timestamp)
    values (#{id,jdbcType=INTEGER}, #{circleD,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, 
      #{timestamp,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tonghang.server.entity.TCircleSeen" >
    update t_circle_seen
    set " circle_d" = #{circleD,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      timestamp = #{timestamp,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, " circle_d", pid, timestamp
    from t_circle_seen
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, " circle_d", pid, timestamp
    from t_circle_seen
  </select>
</mapper>