<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tonghang.server.mapper.TPhoneMapper">

	<resultMap id="BaseResultMap" type="com.tonghang.server.entity.TPhone">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="timestamp" property="timestamp" jdbcType="TIMESTAMP" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="pic" property="pic" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="position" property="position" jdbcType="VARCHAR" />
		<result column="college" property="college" jdbcType="VARCHAR" />
		<result column="education" property="education" jdbcType="VARCHAR" />
		<result column="trade_id" property="tradeId" jdbcType="INTEGER" />
		<result column="province_id" property="provinceId" jdbcType="INTEGER" />
		<result column="city_id" property="cityId" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="device" property="device" jdbcType="VARCHAR" />
		<result column="longitude" property="longitude" jdbcType="DOUBLE" />
		<result column="latitude" property="latitude" jdbcType="DOUBLE" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="language" property="language" jdbcType="VARCHAR" />
		<result column="group_id" property="groupId" jdbcType="INTEGER" />
		<result column="company" property="company" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap type="com.tonghang.server.vo.UserVo" id="UserVoResultMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="group_id" property="groupId" jdbcType="INTEGER" />
		<association property="trade" javaType="com.tonghang.server.entity.TTrade">
			<result column="trade_name" property="name" jdbcType="VARCHAR" />
		</association>
		<collection property="services" ofType="com.tonghang.server.entity.TService">
			<result column="title" property="title" jdbcType="VARCHAR" />
			<result column="description" property="description" jdbcType="VARCHAR" />
			<result column="pictures" property="pictures" jdbcType="VARCHAR" />
			<result column="checked" property="checked" jdbcType="INTEGER" />
		</collection>
	</resultMap>
	<resultMap id="UserInfoResultMap" type="com.tonghang.server.entity.TPhone"
		extends="BaseResultMap">
		<result column="trade_name" property="trade" jdbcType="VARCHAR" />
		<result column="city_name" property="city" jdbcType="VARCHAR" />
	</resultMap>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		t_phone
		where id = #{id}
	</delete>
	<insert id="insert" parameterType="com.tonghang.server.entity.TPhone">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="BEFORE">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_phone (id, phone, password,
		timestamp, name, pic,
		sex,
		position, college,education,
		trade_id, province_id, city_id,
		remark, device,
		longitude,
		latitude, state,language,group_id)
		values (#{id}, #{phone},
		#{password},
		#{timestamp}, #{name}, #{pic},
		#{sex}, #{position},
		#{college},#{education},
		#{tradeId}, #{provinceId}, #{cityId},
		#{remark}, #{device},
		#{longitude},
		#{latitude}, #{state},#{language},#{groupId})
	</insert>
	<update id="updateByPrimaryKey" parameterType="com.tonghang.server.entity.TPhone">
		update t_phone
		<set>
			<if test="phone != null and phone != ''">
				phone = #{phone},
			</if>
			<if test="password != null and password != ''">
				password = #{password},
			</if>
			<if test="timestamp != null and timestamp != ''">
				timestamp = #{timestamp},
			</if>
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="pic != null and pic != ''">
				pic = #{pic},
			</if>
			<if test="sex != null and sex != ''">
				sex = #{sex},
			</if>
			<if test="position != null and position != ''">
				position = #{position},
			</if>
			<if test="college != null and college != ''">
				college = #{college},
			</if>
			<if test="education != null and education != ''">
				education = #{education},
			</if>
			<if test="tradeId != null and tradeId != ''">
				trade_id = #{tradeId},
			</if>
			<if test="provinceId != null and provinceId != ''">
				province_id = #{provinceId},
			</if>
			<if test="cityId != null and cityId != ''">
				city_id = #{cityId},
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark},
			</if>
			<if test="device != null and device != ''">
				device = #{device},
			</if>
			<if test="longitude != null and longitude != ''">
				longitude = #{longitude},
			</if>
			<if test="latitude != null and latitude != ''">
				latitude = #{latitude},
			</if>
			<if test="state != null and state != ''">
				state = #{state},
			</if>
			<if test="language != null and language != ''">
				language = #{language},
			</if>
			<if test="groupId != null and groupId != ''">
				group_id = #{groupId}
			</if>
			<if test="company != null and company != ''">
				company = #{company}
			</if>
		</set>
		where id = #{id}
	</update>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select *
		from t_phone
		where id = #{id}
	</select>
	<select id="selectAll" resultMap="BaseResultMap">
		select *
		from t_phone
	</select>
	<select id="getUsers" resultMap="UserVoResultMap">
		select
		p.id,
		p.phone,
		p.name,
		p.group_id,
		p.state,
		t.name trade_name,
		s.title,
		s.description,
		s.pictures,
		s.checked
		from t_phone p
		left outer join t_service s on s.pid = p.id
		left outer join t_trade t on t.id = p.trade_id
	</select>

	<select id="selectByPhone" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select *
		from t_phone
		where phone = #{phone}
	</select>

	<select id="selectByName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select *
		from t_phone
		where name = #{name}
	</select>

	<select id="selectByIds" resultMap="BaseResultMap"
		parameterType="list">
		select id,name ,pic,sex,phone
		,remark,position,college,education,company ,city_id,province_id
		from t_phone
		where 1=1
		<if test="list!=null">
			and id in (0
			<foreach collection="list" item="item" index="index">
				, #{item}
			</foreach>
			)
		</if>
	</select>
	<select id="getUserById" parameterType="java.lang.Integer"
		resultMap="UserInfoResultMap">
		select p.*,city.name city_name,trade.name trade_name
		from t_phone p
		left outer join t_city city on city.id = p.city_id
		left outer join t_trade trade on trade.id = p.trade_id
		where p.id = #{id}
	</select>

	<select id="getUserIdByCityAndTrade" parameterType="java.lang.Integer"
		resultMap="UserInfoResultMap">
		select p.*,city.name city_name,trade.name trade_name
		from t_phone p
		left outer join t_city city on city.id = p.city_id
		left outer join t_trade trade on trade.id = p.trade_id
		where
		p.city_id =#{cityId}
		and p.trade_id =#{tradeId}

	</select>

	<select id="getUserInfoById" parameterType="java.lang.Integer"
		resultMap="UserInfoResultMap">
		select
		p.id,p.company,p.name,p.position,p.pic,p.college,p.education,p.remark,city.name
		city_name,trade.name trade_name
		from t_phone p
		left outer join t_city
		city on city.id = p.city_id
		left outer join t_trade trade on trade.id =
		p.trade_id
		where p.id = #{id}
	</select>
	<select id="getUser" parameterType="java.lang.Integer"
		resultMap="UserVoResultMap">
		select
		p.phone,
		p.name,
		p.group_id,
		p.state,
		t.name trade_name,
		s.title,
		s.description,
		s.pictures,
		s.checked
		from t_phone p
		left outer join t_service s on
		s.pid = p.id
		left outer join t_trade t on t.id = p.trade_id
		where p.id = #{id}
	</select>

</mapper>