<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <title>同行</title>
    <link rel="stylesheet" type="text/css" href="css/common.css?3">
    <link rel="stylesheet" type="text/css" href="css/style.css?3">

</head>

<body>
<section class="userhome">
    <section class="userinfo">
        <div class="avatar">
            <img src="img/avatar_big.jpg">
        </div>
        <div class="username">
            <span>旺财<i class="sex icon-w"></i></span>
        </div>
        <div class="position">
            <span>中行纺织有限公司</span><span>运营总监</span>
        </div>
        <div class="desc">
            <span>他还未添加标签哦</span>
        </div>
    </section>
    <section class="industry">
        <div class="trade"><i class="icon-circle"></i>印染行业</div>
        <div class="address"><i class="icon-address"></i>绍兴</div>
    </section>

</section>
<section class="usermessage">
    <section class="server">
        <div><i class="icon-server"></i>服务</div>
        <div class="serverinfo">
            <div class="news_img fl" href="#">
                <a href="#">
                <img src="img/portraitbust.jpg">
                </a>
            </div>
            <section class="news_content fr">
                <div>网店运营</div>
                <div class="fs10">我能帮您运营网店店。本人三年的运营经验对各类网店规则十分了解，期待为您服务！</div>
            </section>
            <div class="clear"></div>
        </div>
    </section>

    <section class="dynamic">
        <div><i class="icon-dynamic"></i>动态</div>
        <div class="dynamicinfo">
            <ul>
                <li class="list_main_li">
                    <div class="list_main">
                        <div class="list_item_top clearfix">
                            <div class="title fr">
                                <span>最近公司的新款产品，色彩艳丽，外观和质量一流，#最美伞！</span>
                            </div>
                            <div class="img_list fr">
                                <ul>
                                    <li class="fl"><img src="img/01.jpg"></li>
                                    <li class="fl"><img src="img/02.jpg"></li>
                                    <li class="fl"><img src="img/03.jpg"></li>
                                </ul>
                            </div>
                            <div class="click_like fr">
                                <span class="liked"><i class="icon-liked"></i>999+</span>
                                <span class="writtend"><i class="icon-writtend"></i>56</span>
                                <span><i class="icon-share"></i>56</span>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

</section>

<footer>
    <div class="download">
        <a href="#"><img src="img/download.jpg"></a>
    </div>
</footer>

</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
</html>
